scrape.do-dotnet-example.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/scrape.do-dotnet-example.deps.json
bin/Debug/netcoreapp3.1/scrape.do-dotnet-example.dll
bin/Debug/netcoreapp3.1/scrape.do-dotnet-example.pdb
bin/Debug/netcoreapp3.1/scrape.do-dotnet-example.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/scrape.do-dotnet-example.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/scrape.do-dotnet-example.csproj.nuget.dgspec.json
obj/scrape.do-dotnet-example.csproj.nuget.g.props
obj/scrape.do-dotnet-example.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.assets.cache
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.dll
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/scrape.do-dotnet-example.pdb
